* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0.39) 100%), url(images/donation0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.top-banner-h1 {
    position: absolute;
    width: 820px;
    height: 150px;
    left: 270px;
    top: 174px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: white;
}

.pray-for-shylet {
    position: absolute;
    font-family: 'poppins';
    font-style: regular;
    font-weight: 100;
    font: size 18px;
    line-height: 104%;
    vertical-align: Top;
    Width: 700px;
    Height: 56px;
    Top: 352px;
    Left: 340px;
    color: white;
    text-align: center;
}

#button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px;
    background-color: royalblue;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 270px;
    top: 80px;
    align-items: center auto;
    padding: 12px 10px;
    width: 119px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}

.donate-today h1 {
    font-family: 'inter';
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
}

.donate-today p {
    font-family: 'poppins';
    text-align: center;
    margin: 20px;
    font-weight: lighter;
}

.flexbox {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;


}

.box1 {
    height: 70px;
    width: 150px;
    background-color: cornflowerblue;
    font-size: 30;
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.box2 {
    height: 70px;
    width: 150px;
    background-color: cornflowerblue;
    font-size: 30;
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.box3 {
    height: 70px;
    width: 150px;
    background-color: cornflowerblue;
    font-size: 30;
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.box4 {
    height: 70px;
    width: 150px;
    background-color: cornflowerblue;
    font-size: 30;
    text-align: center;
    line-height: 70px;
    border-radius: 5px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.custom-amount {
    width: 450px;
    background: #ffff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    left: 415px;
    top: 80px;
    position: relative;
    align-items: center;

}

.custom-amount .write {
    height: 40px;
    width: 100%;
    position: relative;
}

.custom-amount .write input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;
}

#button1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px;
    background-color: royalblue;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    left: 590px;
    top: 80px;
    position: relative;
    align-items: center;
    padding: 12px 10px;
    width: 119px;
    height: 24px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}

.donate-plan h1 {
    font-family: 'inter';
    font-size: 50px;
    text-align: center;
    margin-top: 150px;
}

.content2-p {
    font-family: 'poppins';
    text-align: center;
    margin: 20px;
    font-weight: lighter;
}

.flexbox1 {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.flexbox1 .box1 {
    height: 352px;
    width: 360px;
    background-color: #4F9DA61A;
    text-align: left;
    line-height: 70px;
    border-radius: 5px;
}

.flexbox1 .box1 h1 {
    font-family: 'inter';
    text-align: left;
    margin-left: 20px;
    font-weight: 200;
    font-size: 20px;
    color: #121212;
}

.flexbox1 .box1 p {
    font-family: 'poppins';
    font-weight: lighter;
    margin-left: 20px;
    font-size: small;
    line-height: 20px;
    color: #121212;
}

.flexbox1 .box1 img {
    margin-left: 20px;
    margin-top: 70px;
}

.flexbox1 .box2 {
    height: 352px;
    width: 360px;
    background-color: rgba(102, 51, 153, 0.116);
    text-align: left;
    line-height: 70px;
    border-radius: 5px;
}

.flexbox1 .box2 h1 {
    font-family: 'inter';
    text-align: left;
    margin-left: 20px;
    font-weight: 200;
    font-size: 20px;
    color: #121212;
}

.flexbox1 .box2 p {
    font-family: 'poppins';
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
    font-size: small;
    line-height: 20px;
    color: #121212;
}

.flexbox1 .box2 img {
    margin-left: 20px;
    margin-top: 70px;
}


.flexbox1 .box3 {
    height: 352px;
    width: 360px;
    background-color: rgba(255, 0, 0, 0.089);
    text-align: left;
    line-height: 70px;
    border-radius: 5px;
}

.flexbox1 .box3 h1 {
    font-family: 'inter';
    text-align: left;
    margin-left: 20px;
    font-weight: 200;
    font-size: 20px;
    color: #121212;
}

.flexbox1 .box3 p {
    font-family: 'poppins';
    font-weight: lighter;
    margin-left: 20px;
    font-size: small;
    line-height: 20px;
    margin-right: 20px;
    color: #121212;
}

.flexbox1 .box3 img {
    height: 53px;
    width: 53px;
    margin-left: 20px;
    margin-top: 70px;
}

.testimonials h1 {
    font-family: 'inter';
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    background: antiquewhite;
    height: 10px;
    padding-top: 50px;
}

.flexbox2 {
    display: flex;
    width: initial;
    height: 650px;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
}

.flexbox2 .box1.1 {
    height: 600px;
    width: 600px;
    background-color: none;
    text-align: left;
    line-height: 50px;
    border-radius: 5px;
    padding: 10px;
}

.flexbox2 .box1.2 {
    height: 600px;
    width: 600px;
    background-color: none;
    text-align: left;
    line-height: 50px;
    border-radius: 5px;
}

.updates h1 {
    font-family: 'inter';
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.updates p {
    font-family: 'poppins';
    text-align: center;
    margin: 20px;
    font-weight: lighter;
}

.form {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin-bottom: 100px;
}

.form-button {
    height: 200px;
    width: 750px;
    background: rgba(216, 112, 147, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 7px;

}

.form-box input {
    font-size: 15px;
    border: none;
    outline: none;
    padding: 15px 10px;
    color: #000;
    background: #ddd;
}

.form-box button {
    font-size: 18px;
    border: none;
    background: royalblue;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
}

.footer {
    height: 177px;
    width: auto;
    background: rgb(0, 0, 20);
    display: block;
    position: relative;
    align-items: center;
    line-height: 60px;
}

.footer h2 {
    font-family: 'poppins';
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

footer {
    color: aliceblue;
    text-align: center;
    font-family: 'poppins';
    font-weight: 50;
    font-size: smaller;
}