* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.top-banner {
    min-height: 150vh;
    width: 100%;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0.39) 100%), url(images/donation0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.top-banner-h1 {
    position: absolute;
    width: 820px;
    height: 150px;
    left: 307px;
    top: 174px;
    font-family: 'inter';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    color: white;
}

.pray-for-shylet {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 307px;
    top: 300px;
    font-family: 'poppins';
    font-style: regular;
    font-weight: 100;
    font: size 18px;
    line-height: 104%;
    vertical-align: Top;
    Width: 700px;
    Height: 56px;
    Top: 352px;
    Left: 375px;
    color: white;
    text-align: center;
}

#button {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px;
    background-color: royalblue;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    height: 40px;
    left: 270px;
    top: 80px;
    align-items: center auto;
    padding: 12px 10px;
    width: 119px;
    height: 24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
}

.donate-today h1 {
    font-family: 'inter';
    font-size: 50px;
    text-align: center;
    margin-top: 25px;
}

.donate-today p {
    font-family: 'poppins';
    text-align: center;
    margin: 20px;
    font-weight: lighter;
}

.flexbox {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;


}

.box1 {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    font-size: 25;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    margin: 10px;
}

.box2 {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    font-size: 25;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    margin: 10px;
}

.box3 {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    font-size: 25;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    margin: 10px;
}

.box4 {
    height: 200px;
    width: 200px;
    background-color: cornflowerblue;
    font-size: 25;
    text-align: center;
    line-height: 200px;
    border-radius: 5px;
    margin: 10px;
}

.custom-amount {
    width: 450px;
    background: #ffff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    left: 425px;
    top: 80px;
    position: relative;
    align-items: center;

}

.custom-amount .write {
    height: 40px;
    width: 100%;
    position: relative;
}

.custom-amount .write input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    outline: none;

}

.write input:focus~label {
    font-size: 0px;
}

.custom-amount .write label {
    position: relative;
    bottom: 40px;
    text-align: center;
    color: grey;
    pointer-events: none;
}

#button1 {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px;
    background-color: royalblue;
    border-radius: 5px;
    width: 100px;
    height: 40px;
    left: 620px;
    top: 80px;
    position: relative;
    align-items: center;
    padding: 12px 10px;
    width: 119px;
    height: 24px;
    margin: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}